.movie-list-title {
  color: grey;

}

.movie-list {
  display: grid;
  height: 30vh;
  margin: 2rem;
  width: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.movie-list > div {
  border: 1px solid grey;
}

.btn2,
.btn3 {
  color: white;
  background-color: olivedrab;
}

.btn,
.btn2 {
  border-radius: 5px;
  margin-left: 5px;
}

.search-bar {
  margin-top: 10px;

}

.btn3 {
  border-radius: 5px;
  float: right;
  margin-bottom: 15px;
}

.btn4,
.btn5 {
  margin-top: 20px;
}

.btn4 {
  margin-left: 30px;
}


.click-list-style {
  background-color: olivedrab;
}

.btn3:active {
  background-color: teal;
}


